<section class="whoami">
  <div class="hero-container">
    <div class="profile-image">
      <div class="image-box" >
        <img src="assets/IMG_20220524_124216.jpg" alt="Marcus Lööv">
      </div>
    </div>
    <div class="hero-content">
      <h2 class="command terminal-text">.välkommen-till-min-portfolio-sida</h2>
      <h1 class="name">Marcus Lööv</h1>
      <p class="role">Full Stack systemutvecklare |  Ai.kompetens</p>
      <p class="details">Location: 127.0.0.1 | @localhost:4200</p>
      
      <div class="actions">
        <button class="btn primary terminal-text">RESUME.PDF</button>
        <button class="btn secondary terminal-text">CONTACT</button>
      </div>
    </div>
  </div>
</section>

<section class="tech-stack">
  <h2 class="prompt terminal-text"> TECH-STACK.JSON</h2>
  <div class="json-container">
    <div class="json-line">
      <span class="key">"languages"</span>: 
      <img class="symbols" width="24px" src="/assets/icons/typescript.svg"><span class="value">"TypeScript" </span> 
      <img class="symbols c#" width="24px" src="/assets/icons/csharp.svg"><span class="value">"C#" </span> 
      <img class="symbols js" width="24px" src="/assets/icons/javascript.svg"><span class="value">"JavaScript" </span>
      <img class="symbols aspnet" width="24px" src="/assets/icons/dotnet.svg"><span class="value">"ASP.NET" </span>
    </div>
    <div class="json-line">
      <span class="key">"frameworks"</span>: 
      <img class="symbols dotnet" width="24px" src="/assets/icons/dotnet.svg"><span class="value">".NET" </span> 
      <img class="symbols" width="24px" src="assets/icons/react_light.svg"><span class="value">"React" </span> 
      <img class="symbols svelte" width="24px" src="/assets/icons/svelte.svg"><span class="value">"Svelte" </span>
      <img class="symbols angular" width="24px" src="/assets/icons/angular.svg"><span class="value">"Angular" </span>
      <img class="symbols vue" width="24px" src="/assets/icons/vue.svg"><span class="value">"Vue" </span>
    </div>
    <div class="json-line">
      <span class="key">"frontend"</span>: 
      <span class="symbols scss">❖</span> <span class="value">"Scss"</span>
      <img class="symbols css" width="24px" src="/assets/icons/css.svg"><span class="value">"Css"</span>
    </div>
    <div class="json-line">
      <span class="key">"backend"</span>: 
      <img class="symbols node" width="24px" src="/assets/icons/nodejs.svg"><span class="value">"Node.js" </span> 
      <img class="symbols sqlite" width="30px" src="/assets/icons/sqlite.svg" ><span class="value">"SQLite" </span> 
      <span class="symbols dapper">D</span> <span class="value">"Dapper" </span>
    </div>
    <div class="json-line">
      <span class="key">"editor"</span>: 
      <img class="symbols vscode" width="24px" src="/assets/icons/vscode.svg"><span class="value">"VS Code"</span> 
      <img class="symbols vs2022" width="24px" src="/assets/icons/visual-studio.svg"><span class="value">"VS 2022"</span>
    </div>
  </div>
</section>