<section class="whoami">
  <div class="hero-container">
    <div class="profile-image">
      <div class="image-box" >
        <img src="assets/IMG_20220524_124216.jpg" alt="Marcus Lööv">
      </div>
    </div>
    <div class="hero-content">
      <h2 class="command terminal-text">.Välkommen-Till-Min-Portfolio-Sida</h2>
      <h1 class="name">Marcus Lööv</h1>
      <p class="role">Full Stack Systemutvecklare |  Ai.kompetens</p>
      <p class="details">Location: 127.0.0.1 | @Localhost:4200</p>
      
      <div class="actions">
        <button class="btn primary terminal-text">CV.PDF</button>
        <a class="btn secondary terminal-text"routerLink="/contact">CONTACT</a>
      </div>
    </div>
  </div>
</section>

<section class="tech-stack">
  <h2 class="prompt terminal-text"> TECH-STACK.JSON</h2>
  <div class="json-container">
    <div class="json-line">
      <span class="key">"Languages"</span>: 
      <svg-TypeScript class="symbols" [size]="{width: 24, height: 24}"></svg-TypeScript><span class="value">"TypeScript" </span>
      <svg-CSharp class="symbols" [size]="{width: 24, height: 24}"></svg-CSharp><span class="value">"C#" </span>
      <!-- <img class="symbols" width="24px" src="/assets/icons/typescript.svg"><span class="value">"TypeScript" </span>  -->
      <!-- <img class="symbols c#" width="24px" src="/assets/icons/csharp.svg"><span class="value">"C#" </span>  -->
      <!-- <img class="symbols js" width="24px" src="/assets/icons/javascript.svg"><span class="value">"JavaScript" </span> -->
       <svg-JavaScript class="symbols" [size]="{width: 24, height: 24}"></svg-JavaScript><span class="value">"JavaScript" </span>
       <!-- <img class="symbols aspnet" width="24px" src="/assets/icons/dotnet.svg"><span class="value">"ASP.NET" </span> -->
      </div>
      <div class="json-line">
        <span class="key">"Frameworks"</span>: 
        <!-- <img class="symbols dotnet" width="24px" src="/assets/icons/dotnet.svg"><span class="value">".NET" </span>  -->
        <!-- <img class="symbols" width="24px" src="assets/icons/react_light.svg"><span class="value">"React" </span>  -->
        <!-- <img class="symbols svelte" width="24px" src="/assets/icons/svelte.svg"><span class="value">"Svelte" </span> -->
        <!-- <img class="symbols angular" width="24px" src="/assets/icons/angular.svg"><span class="value">"Angular" </span> -->
        <!-- <img class="symbols vue" width="24px" src="/assets/icons/vue.svg"><span class="value">"Vue" </span> -->
        <svg-DotNET class="symbols" [size]="{width: 24, height: 24}"></svg-DotNET><span class="value">".NET" </span>
       <svg-DotNET class="symbols" [size]="{width: 24, height: 24}"></svg-DotNET><span class="value">"ASP.NET" </span>
      <svg-React class="symbols" [size]="{width: 24, height: 24}"></svg-React><span class="value">"React" </span> 
      <svg-Svelte class="symbols" [size]="{width: 24, height: 24}"></svg-Svelte><span class="value">"Svelte" </span>
      <svg-Angular class="symbols" [size]="{width: 24, height: 24}"></svg-Angular><span class="value">"Angular" </span>
      <svg-Vue class="symbols" [size]="{width: 24, height: 24}"></svg-Vue><span class="value">"Vue" </span>
    </div>
    <div class="json-line">
      <span class="key">"Frontend"</span>: 
      <!-- <img class="symbols css" width="24px" src="/assets/icons/css.svg"><span class="value">"Css"</span> -->
      <span class="symbols scss">❖</span> <span class="value">"Scss"</span>
      <svg-CSSNew class="symbols" [size]="{width: 24, height: 24}"></svg-CSSNew><span class="value">"Css"</span>
    </div>
    <div class="json-line">
      <span class="key">"Backend"</span>: 
      <!-- <img class="symbols node" width="24px" src="/assets/icons/nodejs.svg"><span class="value">"Node.js" </span> -->
      <!-- <img class="symbols sqlite" width="30px" src="/assets/icons/sqlite.svg" ><span class="value">"SQLite" </span>  -->
      <svg-NodeJs class="symbols" [size]="{width: 24, height: 24}"></svg-NodeJs><span class="value">"Node.js" </span>
      <svg-SQLite class="symbols" [size]="{width: 30, height: 30}"></svg-SQLite><span class="value">"SQLite" </span>
      <span class="symbols dapper">D</span> <span class="value">"Dapper" </span>
    </div>
    <div class="json-line">
      <span class="key">"Editor"</span>: 
      <!-- <img class="symbols vscode" width="24px" src="/assets/icons/vscode.svg"><span class="value">"VS Code"</span>  -->
      <!-- <img class="symbols vs2022" width="24px" src="/assets/icons/visual-studio.svg"><span class="value">"Visual Studio 2022"</span> -->
      <svg-VisualStudioCode class="symbols" [size]="{width: 24, height: 24}"></svg-VisualStudioCode><span class="value">"VS Code"</span>
      <svg-VisualStudio class="symbols" [size]="{width: 24, height: 24}"></svg-VisualStudio><span class="value">"Visual Studio 2022"</span>
    </div>
  </div>
</section>