<div class="card" *ngIf="project" (click)="onCardClick()" style="cursor: pointer;">
  <div class="card-media">
    <!-- Placeholder for project image -->
    
    <div class="media-placeholder">
      <img *ngIf="project.images && project.images.length > 0" 
            [src]="project.images[0]"
            alt="{{ project.name }}"
            class="featured-image">  
      
    </div>
  </div>
  <div class="card-content">
    <h3 class="project-title">{{ project.name }}</h3>
    <p class="project-description">{{ project.description }}</p>
    <div class="tech-tags">
      <span class="tag terminal-text" >{{ project.language }}</span>
    </div>
  </div>
</div>